#root {
  margin: auto;
  padding: 2rem;
}



#tiburon-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tiburon-title-container > #tiburon {
  display: inline-block;
}

#tiburon-title-container > #title {
  display: block;
}

#alert {
  line-height: 25px;
}

/* Footer */

footer {
  margin-top: 35%;
}

#colaboration-name:hover {
  text-decoration: underline;
}